@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  list-style: none;
  text-decoration: none;
}

header {
  height: 12.6vh;
  background-color: #ff69b4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 3vw;

  .boxlogo {
    width: 25vw;
    display: flex;
    align-items: center;
    img {
      width: 6.5vw;
    }

    h1 {
      color: white;
      font-size: 1.7vw;
    }
  }

  nav {
    width: 40vw;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.5vw;

      a {
        color: white;
      }
    }
  }
}

// ---------------MAIN-------------

main {
  font-size: 25px;
  height: 150vh;

  .firstbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40.2vh;
    padding-inline: 3vw;
    background-color: #ffd9ec;

    p {
      width: 35vw;
      font-size: 1.5vw;
    }
  }

  .secondbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 27.9vh;
    background-color: #ff69b4;
    padding-inline: 3vw;

    p {
      width: 35vw;
      color: white;
      font-size: 1.5vw;
    }
  }

  .thirdbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40.2vh;
    padding-inline: 3vw;
    border: solid 2px;
    background-color: #ffd9ec;
  }
}

// -------------FOOTER------------

footer {
  .fourthBox {
    background-color: #ff69b4;
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .iconesbox {
    width: 17vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .infobox {
    color: white;
    width: 25vw;
    font-size: 0.95vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
